## Arithmetic Operators

In [2]:
# Addition

x = 5
y = 3
print(x + y)  # Output: 8

a = "Hello"
b = "World"
print(a + " " + b)  # Output: "Hello World"

'string 1 ' + 'string 2' # Output: 'string 1 string 2'

5
8
Hello World

In [ ]:
# Subtraction

x = 5
y = 3
print( x - y )  # Output: 2

a = "Hello"
b = "World"
print( a - b )  # Error: unsupported operand type(s) for -: 'str' and 'str'

In [4]:
# Multiplication

x = 5
y = 3
print(x * y)  # Output: 15

a = "Hello"
print(a * 3)  # Output: "HelloHelloHello"

print ('- string 1 - ' * 4) # Output: '- string 1 - - string 1 - - string 1 - - string 1 - '

15
HelloHelloHello

In [3]:
# Exponentiation

x = 2
y = 3
print(x ** y)  # Output: 8

25

In [4]:
# Division

print (10/2)    # Output: 5.0

x = 7
y = 3
print(x / y)  # Output: 2.3333333333333335

4.0

In [ ]:
# Integer Division

x = 7
y = 3
print(x // y)  # Output: 2

In [6]:
# Modulus (Returns the remainder of the first number divided by the second.)

x = 7
y = 3
print(x % y)  # Output: 1

2

In [8]:
print( 6+3*3 ) # 3*3 = 9, 6+9 = 15
print( (6+3)*3 ) # 6+3 = 9, 9*3 = 27
print( 6/3*3 ) # 6/3 = 2, 2*3 = 6
print( (6/(3*3)) ) # 3*3 = 9, 6/9 = 0.6666666666666666

15
27
6.0

## Comparison, Logical, and Membership Operators

### Comparison Operators

In [ ]:
# Assignment Operators Summary

print ( True == True ) # Output: True
print ( 4 < 5 ) # Output: True
print ( 4 > 5 ) # Output: False
print ( 4 <= 5 ) # Output: True
print ( 4 >= 5 ) # Output: False
print ( 4 != 5 ) # Output: True
print ( 4 == 5 ) # Output: False

In [ ]:
x = 5
y = 3 + 2
print(x == y)  # Output: True

a = "Hello"
b = "Hello"
print(a == b)  # Output: True

c = [1, 2, 3]
d = [1, 2, 3]
print(c == d)  # Output: True

e = 3
f = 3.0
print(e == f)  # Output: True (note that the types are different)

In [ ]:
x = 5
y = 3
print(x < y)  # Output: False

a = "apple"
b = "banana"
print(a < b)  # Output: True (compares lexicographically) (a is before b in the alphabet, so a < b)

c = [1, 2, 3]
d = [4, 5, 6]
print(c < d)  # Output: True (compares element-wise)

e = 3
f = 5
print(e < f)  # Output: True

In [9]:
x = 5
y = 3
print(x != y)  # Output: True

a = "Hello"
b = "hello"
print(a != b)  # Output: True (note the case difference)

c = [1, 2, 3]
d = [1, 2, 4]
print(c != d)  # Output: True (note the last element is different)

e = 3
f = 3
print(e != f)  # Output: False (note they are equal)

True

### Logical Operators (and, or, not)

In [ ]:
print (True and True)       # Output: True
print (True and False)      # Output: False
print (False and False)     # Output: False
print (False and True)      # Output: False
print (True or False)       # Output: True
print (False or True)       # Output: True
print (not True)            # Output: False
print (not False)           # Output: True
print (not (True and True)) # Output: False
print (not (True and False)) # Output: True

### Membership Operators

In [ ]:
print (1 in [1,2,3,4,5]) # Output: True
print (1 not in [1,2,3,4,5]) # Output: False

print ('cat' in 'cat in the hat') # Output: True
print ('cat' not in 'cat in the hat') # Output: False