In [4]:
name = "sadra"
age = 29 
GPA = 4.1
neptun_code = "GC9DIL"

print ( type(name) )
print ( type(age) )
print ( type(GPA) )
print ( type(neptun_code) )

<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>

Three squared two = nine
3Ë†2 = 9

In [6]:
print (4 ** 2) # 4 to the power of 2 or 4 squared
print (4 ** 3) # 4 to the power of 3 or 4 cubed

16
64

In [9]:
2j

2j

In [10]:
type(2j)

complex

In [17]:
print (1j +1j)
print (1j*1j)
print (2j + 2j)
print(2j * 1j)

2j
(-1+0j)
4j
(-2+0j)

1j * 1j = 1 * j * 1 * j
        = 1 * 1 * j * j     (commutative property of multiplication)
        = 1 * 1 * (sqrt(-1) * sqrt(-1))   (substituting j = sqrt(-1))
        = 1 * 1 * (-1)         (since sqrt(-1) * sqrt(-1) = -1)
        = -1

The output of 1j * 1j in Python is (-1+0j), which is equivalent to -1. 
The 0j in the output indicates that the result is a complex number with a real part of -1 and an imaginary part of 0.

In [18]:
import math

x = 16
sqrt_x = math.sqrt(x)
print(sqrt_x)

4.0

In [8]:
my_list = ['This', 'is', 'a', 'list', 'of', 'strings']
print(my_list)
print(type(my_list))
print(len(my_list))
print(my_list[0])
print(my_list[1])

['This', 'is', 'a', 'list', 'of', 'strings']
<class 'list'>
6
This
is

In [11]:
my_list = ['Qasem', 'Kosbibi', 29, 29.1, []]

print(my_list)

print(type(my_list))

print(len(my_list))

print(my_list[4])

print(my_list[3])

['Qasem', 'Kosbibi', 29, 29.1, []]
<class 'list'>
5
[]
29.1

In [16]:
my_list = [['Qasem', 'Haddadifar'], [29, 'year-old'], [True, False]]

print(my_list)
print(len(my_list))

[['Qasem', 'Haddadifar'], [29, 'year-old'], [True, False]]
3

In [17]:
print(my_list[0])

['Qasem', 'Haddadifar']

In [18]:
print(my_list[2])

[True, False]

In [20]:
print(my_list[0][0])
print(my_list[1][0])

Qasem
29

In [79]:
aculad_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
aculad_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [22]:
type (aculad)

set

In [23]:
len(aculad)

10

In [27]:
tekrari = {3, 3, 4, 5}
tekrari

{3, 4, 5}

In [28]:
len(tekrari)

3

In [29]:
[1, 1] == [1, 1]

True

In [30]:
[1, 2] == [1, 2]

True

In [31]:
[1, 2] == [2, 1]

False

In [32]:
{1, 1} == {1, 1}

True

In [33]:
{1, 2} == {1, 2}

True

In [34]:
{1, 2} == {2, 1}

True

In [35]:
{1, 2, 3} == {2, 3, 3, 1}

True

In [37]:
sad_tuple = (1, 2, 3)
type(sad_tuple)

tuple

In [40]:
print(sad_tuple)

print(sad_tuple[0])

print(sad_tuple[1])

(1, 2, 3)
1
2

In [42]:
string_tuple = ('Qasem', 'Kazemi', '29')
type(string_tuple)

tuple

In [44]:
print(string_tuple)

print(string_tuple[0])

('Qasem', 'Kazemi', '29')
Qasem

In [47]:
mix_tuple = ('Qasem', 'Kazemi', 29)
type(mix_tuple)

tuple

In [49]:
print(mix_tuple[0])
print(mix_tuple[2])

Qasem
29

In [50]:
incomplete_tuple = ('Qasem', 'Haddadi')
incomplete_tuple

('Qasem', 'Haddadi')

In [ ]:
incomplete_tuple.append('Far') # append is not defined for tuples. Error!

In [57]:
my_list = ['Gorbe', 'Siah']

In [58]:
my_list.append('Birikht')
my_list

['Gorbe', 'Siah', 'Birikht']

In [61]:
my_list = [['Gorbe', 'Siah']]
my_list.append(['Birikht'])
my_list

[['Gorbe', 'Siah'], ['Birikht']]

In [63]:
my_list = [['Gorbe', 'Siah']]
my_list.extend(['Birikht'])
my_list

[['Gorbe', 'Siah'], 'Birikht']

In [66]:
my_list = [['Gorbe', 'Siah']]
my_list.insert(1, ['Birikht'])
my_list

[['Gorbe', 'Siah'], ['Birikht']]

In [71]:
my_list = [['Gorbe', 'Siah']]
my_list.insert(0, ['Birikht'])
my_list

[['Birikht'], ['Gorbe', 'Siah']]

In [72]:
my_list.pop(0)
my_list

[['Gorbe', 'Siah']]

In [73]:
my_list = [['Gorbe', 'Siah'], ['Birikht']]
my_list[0] = ['Gorbe Siah']
my_list

[['Gorbe Siah'], ['Birikht']]

In [75]:
my_list = [['Gorbe', 'Siah']]
my_list[0].append('Birikht')
my_list

[['Gorbe', 'Siah', 'Birikht']]

In [76]:
my_list[0].pop(0)
my_list

[['Siah', 'Birikht']]

In [80]:
print (my_list)
print (sad_tuple)
print (aculad_set)

[['Siah', 'Birikht']]
(1, 2, 3)
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [82]:
my_dict = {
    'Basic': 'Amine',
    'Acidic': 'Carboxylic acid',
}
type(my_dict)

dict

In [83]:
my_dict

{'Basic': 'Amine', 'Acidic': 'Carboxylic acid'}

In [85]:
my_dict['Basic']

'Amine'

In [87]:
my_dict = {
    'Basic': 'Amine',
    'Acidic': 'Carboxylic acid',
    'Basic': 'Imidazole Ring',
}
my_dict

{'Basic': 'Imidazole Ring', 'Acidic': 'Carboxylic acid'}

In [ ]:
# Subtraction
x = 5
y = 3
print(x - y)  # Output: 2

# Multiplication
x = 5
y = 3
print(x * y)  # Output: 15

a = "Hello"
print(a * 3)  # Output: "HelloHelloHello"

# Division
x = 7
y = 3
print(x / y)  # Output: 2.3333333333333335

# Integer Division
x = 7
y = 3
print(x // y)  # Output: 2

# Modulus
x = 7
y = 3
print(x % y)  # Output: 1

# Exponentiation
x = 2
y = 3
print(x ** y)  # Output: 8